.central{
    position: relative;
    text-align: center;
    top: 10rem;
    
}
button{
    margin: 1rem !important;
}
.fg:hover{
    color: white !important;
    background-color: black !important;
    font-size: 0.9rem !important;
}
.fg{
    width: 9rem !important;
    height: 2.5rem !important;
    font-size: 0.8rem !important;
}
.head{
    margin-bottom: 3rem !important;
}